.navbar-default {
	background-color: #001f33;
}

.sidebar {
	background: #001f33;
}

@media(min-width:768px) {
	.sidebar-safari {
		background: #001f33;
	}

	.sidebar-fake-bg {
		background: #001f33;
	}
}
