<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'BATER ENTRADA') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		
		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.postFormData("<%- root %>/api/requerimento/baterPonto", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Ponto Batido! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});
		}
	});
	//]]>
</script>