
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Pedir Day off: Restam <%usuario.dayoff%> requisições</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Pedir day off') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true,
				minlength: 3,
				maxlength: 50
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.putFormData("<%- root %>/api/requerimento/dayoff", form, function (response) {
				if (response.success)
					Notification.success("Day off retirado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			
		}
	});
	//]]>
</script>
