<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Days Off do Semestre Atual</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
					</div>
					<div class="col-xs-6 text-right col-xs-space-bottom">
						<button class="btn btn-primary" type="button" onclick="adicionarDayOff()"><i class="fa fa-plus"></i>Adicionar Day Off</button>
					</div>
				</div>

				<table class="table table-striped table-hover no-margin-bottom">
					<tbody id="bodyDaysOff">
						<% if (daysOff && daysOff.length) { for (let i = 0; i < daysOff.length; i++) { %>
							<tr>
								<td class="col-min">
									<button title="Excluir" class="btn btn-danger btn-outline" type="button" onclick="removerDayOff(this)"><i class="fa fa-nomargin fa-times"></i></button>
								</td>
								<td>
									<input class="form-control" type="date" name="daysOff" value="<%- daysOff[i].data %>" />
								</td>
							</tr>
						<% } } else { %>
							<tr><td class="text-center">Não há days off cadastrados</td></tr>
						<% } %>
					</tbody>
				</table>

			</div>

			<div class="panel-footer">
				<input value="Sincronizar Days Off" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>

		
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.fa-plus:before {
		color: inherit;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	function adicionarDayOff() {
		var bodyDaysOff = document.getElementById("bodyDaysOff");
		if (!bodyDaysOff.getElementsByTagName("input").length) {
			$("#bodyDaysOff").empty();
		}
		$("#bodyDaysOff").append('<tr><td class="col-min"><button title="Excluir" class="btn btn-danger btn-outline" type="button" onclick="removerDayOff(this)"><i class="fa fa-nomargin fa-times"></i></button></td><td><input name="daysOff" class="form-control" type="date" /></td></tr>');
	}

	function removerDayOff(button) {
		var bodyDaysOff = document.getElementById("bodyDaysOff");
		bodyDaysOff.removeChild(button.parentNode.parentNode);
		if (!bodyDaysOff.getElementsByTagName("tr").length) {
			bodyDaysOff.innerHTML = '<tr><td class="text-center">Não há days off cadastrados</td></tr>';
		}
	}

	$("#form").validate({
		rules: {
			daysoff: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.postFormData("<%- root %>/api/dayOff/sincronizar", form, function (response) {
				if (response.success) {
					Notification.success("Days Off sincronizados com sucesso! " + emoji.happy);
				}
				else
				Notification.error(response.value + " " + emoji.sad, true);
			});
		}
	});
	//]]>
</script>
